.indexNav{
    width: 100vw;
    height: 1.0rem;
    line-height: 1.0rem;
    background-color: #00a2ed;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 0.3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.indexNav>.indexLeft{
   flex: 1;
   text-align: left;
}
.indexNav i{
    margin: 0 0.3rem;
}
.indexNav>.indexRight{
   flex: 1;
   text-align: right;
}